* {
    margin: 0 auto;
    max-width: 1440px;
}
body{
    background-color: #f5f8ff;
}

/* Typography */
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo-font{
    color: #4e47ff;
    font-weight: bold;
}
h2{
    font-size: 42px;
}
.text-color{
    color: #8d8e98;
}

/* Shared Styles */
.common-button{
    background-color: #4e47ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

/* Header Section Styles */
.header{
    background-image: url('./Assets/Hero-bg.png');
}
nav{
    width: 1140px;
}
.nav-items{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.nav-items a{
    text-decoration: none;
}
.nav-left{
    margin-left: 0px;
    font-size: 35px;
}
.nav-right{
    margin-right: 0px;
    font-weight: bold;
}
.banner-items{
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}
.banner-items h1{
    font-size: 50px;
    margin-bottom: 30px;
}

/* Action Section Styles */
.action{
    width: 1140px;
    margin-top: 140px;
    display: flex;
}
.action-left{
    margin-left: 0px;
    padding-top: 80px;
    padding-right: 80px;
}
.action-right{
    margin-right: 0px;
}
.action-left p{
    font-size: 20px;
}
.action-left h2, p{
    margin-bottom: 25px;
}
.action-right img{
    border-radius: 30px;
}

/* Productive User Section Styles */
.productive-user{
    background-color: #e5e7ff;
    width: 1140px;
    margin-top: 140px;
    border-radius: 30px;
}
.data{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.title{
    text-align: center;
    padding-top: 30px;
}
.data-subtitle{
    font-size: 60px;
}
.data-text{
    text-align: center;
    margin-top: -10px;
}

/* Get in Touch Styles */
.get-in-touch{
    width: 1140px;
    margin-top: 90px;
    display: flex;
}
.touch-text{
    margin-left: 0px;
    padding-top: 180px;
    padding-bottom: 180px;
}
.touch-form{
    margin-right: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.touch-text h1{
    font-size: 80px;
}
.touch-form input, textarea{
    padding: 20px 200px 20px 30px;
    border: none;
    border-radius: 8px;
}
form input[type=submit]{
    text-align: center;
    padding: 20px 160px;
}

/* Footer Styles */
footer{
    background-color: white;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-heading{
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 0px;
}
.footer-menu{
    width: 500px;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    list-style: none;
}
.footer-menu ul li a{
    text-decoration: none;
    color: #8d8e98;
}